.main-container {
    border: 1px solid rebeccapurple;
    position: sticky;
    margin: 10px;
}
.nav-container {
    position: sticky;
}

.nav-container img {
    height: 80px;
    margin: 1rem;
    cursor: pointer;
    /* box-shadow: 0px 3px 7px rgb(0, 100, 139); */
}
.nav-bar {
    rotate: -90deg;
    position: absolute;
    top: 300px;
    left: -130px;
    
}
.nav-bar ul {
    display: flex;
    
}
.nav-bar ul li {
    list-style: none;
    margin-inline: 20px;
    cursor: pointer;
    text-shadow: 0px 3px 8px rgb(22, 161, 216);
    transition: transform 0.3s ease-in-out ;
}
.nav-bar ul li:hover {
    text-shadow: 0px 3px 8px rgb(198, 73, 244);
    transform: translateY(5px);
}
.nav-bar ul li a {
    text-decoration: none;
    color: rgb(109, 203, 232);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.border{
    background: linear-gradient(rgb(91, 154, 171), rgb(42, 108, 158));
    width: 3px;
    height: 100%;
    position: absolute;
    left: 13px;
}
.border-2 {
    left: 120px;
} 